<!-- Customer cta -->

<div class="ui vertical stripe segment">
    <div class="ui center aligned stackable text container">
        <h3 class="ui header">Your Sucess is our Sucess</h3>
    </div>
    <div id="commited-to-sucess" class="ui middle aligned grid container">
        <div class="row">
            <div class="ui three stackable doubling cards">
                <div class="card">
                    <div class="extra content">
                        <div class=" floated author"><img class="ui avatar image" src="/img/Plumlytics_Reviews___catherine.png"> Catherine Mendez
                        </div>
                    </div>
                    <div class="content">
                        <div class="description">
                            <p>"A SMM Analytics tool that is sure to change the industry"</p>
                            <p>Publishing has REAL auto-scheduling. Auto-scheduling based on your brands analytics, tailored for EACH platform!</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="right aligned h2">Marketing Manager - Torani</div>
                    </div>
                </div>
                <div class="card">
                    <div class="extra content">
                        <div class=" floated author"><img class="ui avatar image" src="/img/Brian_C__Reviews___G2_Crowd.png"> Brian Cugelman, Phd
                        </div>
                    </div>
                    <div class="content">
                        <div class="description">
                            <p>"Open analytics for social media engagement"</p>
                            <p>Plumlytic's new platform is putting the power of enterprise social media analytic into the hands of everyday businesses.</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="right aligned h2">Scientist &amp; Director - AlterSpark</div>
                    </div>
                </div>
                <div class="card">
                    <div class="extra content">
                        <div class="floated author"><img class="ui avatar image" src="/img/Plumlytics_Reviews___G2_Crowd.png"> Manuel González
                        </div>
                    </div>
                    <div class="content">
                        <div class="description">
                            <p>"Plumlytics a SMM game changer"</p>
                            <p>Nothing like I have ever seen before is the real time customizable data widgets... post and engage efficiently</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="right aligned h2">Director Clickmark - Four Seasons Hotels</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
