<div class="ui vertical stripe segment">
    <div class="ui center aligned text container">
        <div class="ui huge header"><span style="color:red;">UberSales  </span></div>
        <p>Stress-free online Sales.</p>
        <p>We handle your online sales so you can focus on
            <br> your brand and your product.</p>
        <p>We drive the Sale, collect the Payment and send You the Order. Simple!
        </p>
        <br>
        <br>
        <div class="item">
            <a class="ui huge primary button" href="/request-signup/">
                See if you Qualify<i class="right arrow icon"></i>
            </a>

            <!--
            <button id="get-started-button-demo-cta-top" class="ui huge primary button" modal-popup="modal-getstarted">Request A Demo <i class="right arrow icon"></i></button>
          -->
        </div>
    </div>
    <p>
    </p>
</div>
