<div class="ui vertical stripe segment">
    <div class="ui center aligned text container">
        <div class="ui huge header"><span style="color:#f70250;">UberSales  </span>| We're stress-free online Sales.</div>
        <p>We handle your online product Discovery, Sale, and Order transaction. We drive the Sale, collect the Payment and send You the Order. Simple!
        </p>
        <br>
        <br>
        <div class="item">
            <a class="ui huge primary button" href="/request-signup/">
                See if you Qualify<i class="right arrow icon"></i>
            </a>

            <!--
            <button id="get-started-button-demo-cta-top" class="ui huge primary button" modal-popup="modal-getstarted">Request A Demo <i class="right arrow icon"></i></button>
          -->
        </div>
    </div>
    <p>
    </p>
</div>
