<div class="ui vertical stripe segment">
    <div class="ui center aligned text container">
        <div class="ui huge header"><span style="color:#f70250;">Social Media Marketing </span> suite</div>
        <p>Strengthen your social marketing with our Enterprise grade intelligence-driven customizable tool.</p>
        <p>With a <span style="color:#f70250;"><a href="/little-genius/" data-href="/little-genius/" class="markup--anchor markup--p-anchor" rel="nofollow" target="_blank"><i class="child icon"></i>&nbsp;little-genius</a></span>, inside for your help.
        </p>
    </div>
    <div class="ui middle aligned grid container">
        <div id="heading-row-diff" class="row">
            <div class="ui four stackable doubling cards">
                <div class="card">
                    <div class="ui slide masked reveal image">
                        <img src="/img/Plumlytics-publishing.png" class="visible content">
                        <img src="/img/Plumlytics-publishing.png" class="hidden content">
                    </div>
                    <div class="content">
                        <div id="card-text-heading" class="h2">Robust <span style="color:#f70250;">Social Analytics</span> </div>
                        <div id="card-text-after-heading" class="description">
                            Collect, analyze and distribute data for faster decisions, and react in real time to your online marketing campaigns. </div>
                    </div>
                    <div id="card-text-heading" class="ui bottom attached button">
                        <a class="item" href="/analytics/">
                            <i class="find icon"></i> Explore </a>
                    </div>
                </div>
                <div class="card">
                    <div class="ui slide masked reveal image">
                        <img src="/img/Plumlytics-publishing.png" class="visible content">
                        <img src="/img/Plumlytics-publishing.png" class="hidden content">
                    </div>
                    <div class="content">
                        <div id="card-text-heading" class="h2">Analytics-Powered <span style="color:#f70250;">Social Publishing</span> </div>
                        <div id="card-text-after-heading" class="description">
                            Take the guess-work out and post at the best times to increase reach, engagement, and conversion.</div>
                    </div>
                    <div id="card-text-heading" class="ui bottom attached button">
                        <a class="item" href="/publishing/">
                            <i class="find icon"></i> Explore </a>
                    </div>
                </div>
                <div class="card">
                    <div class="ui slide masked reveal image">
                        <img src="/img/Plumlytics-publishing.png" class="visible content">
                        <img src="/img/Plumlytics-publishing.png" class="hidden content">
                    </div>
                    <div class="content">
                        <div id="card-text-heading" class="h2">Enhanced <span style="color:#f70250;">Social Customer Service</span> </div>
                        <div id="card-text-after-heading" class="description">
                            Provide world-class social customer service with ease. Never miss a single customer engagement opportunity.
                        </div>
                    </div>
                    <div id="card-text-heading" class="ui bottom attached button">
                        <a class="item" href="/customer-service/">
                            <i class="find icon"></i> Explore </a>
                    </div>
                </div>
                <div class="card">
                    <div class="ui slide masked reveal image">
                        <img src="/img/Plumlytics-publishing.png" class="visible content">
                        <img src="/img/Plumlytics-publishing.png" class="hidden content">
                    </div>
                    <div class="content">
                        <div id="card-text-heading" class="h2"> Consolidated <span style="color:#f70250;">Social Reporting</span> </div>
                        <div id="card-text-after-heading" class="description">
                            Create powerful custom reporting dashboards and share with everyone in your team to make better decisions. </div>
                    </div>
                    <div id="card-text-heading" class="ui bottom attached button">
                        <a class="item" href="/reporting/">
                            <i class="find icon"></i> Explore </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div id="learn-more-about-tool" class="ui center aligned container">
        <div class="item">
            <a href="/overview/" class="ui huge primary button">
            Learn more about the tool
            <i class="right arrow icon"></i>
          </a>
        </div>
    </div>


</div>
