<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Basics</h4>
                <div class="ui inverted link list">
                    <a href="/company/" class="item">Company</a>
                    <a href="/faq/" class="item ">FAQs</a>
                    <h4 class="ui inverted header">Development Partners</h4>
                    <a class="item">Get Started</a>
                    <a class="item">Develop Solutions</a>
                    <a class="item">Partner Ecosystem</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Contact</h4>
                <div class="ui inverted link list">
                    <a href="/press-center/" class="item">Press Center</a>
                    <h4 class="ui inverted header">Policies</h4>
                    <a href="/privacy-policy/" class="item">Security & Privacy</a>
                    <a href="/terms-of-service/" class="item ">Terms of Service</a>
                </div>
            </div>
            <div class="four wide column ">
                <p>Conquer your Online Sales!</p>
            </div>
        </div>
    </div>
</div>
<!-- start plumlytics tracking snippet -->
<script src="https://stats.plumlytics.com/js"></script>
<script>
    Plumlytics.init(100963775);
</script>
<noscript><img height=1 width=1 src="https://stats.plumlytics.com/100963775ns.gif"></noscript>
<!-- end plumlytics tracking snippet -->
<!-- Google Code for Remarketing Tag -->
<!--
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
    var google_tag_params = {
        dynx_itemid: 'CORS9',
        dynx_pagetype: 'offerdetail',
        dynx_totalvalue: 100,
    };
</script>
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 967913490;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/967913490/?guid=ON&amp;script=0" />
    </div>
</noscript>
