<div class="ui vertical stripe segment">
    <div class="ui container">
        <form id="#margin-top-2em" lass="ui form" action="https://formspree.io/leads@ubersales.io" method="post">
            <input type="hidden" name="_next" value="//www.ubersales.io/thankyou/" />
            <div class="two fields">
                <div class="field">
                    <label>I have</label>
                    <select class="ui dropdown" name="customertype">
                        <option value="">I have...</option>
                        <option value="business">a solid product, with a product-market-fit and a minimum revenue of $1 in sales. </option>
                        <option value="business">a solid product, with a product-market-fit and very little revenue. </option>
                    </select>
                </div>
                <div class="field">
                    <label>I am</label>
                    <select class="ui dropdown" name="customertype">
                        <option value="">I am...</option>
                        <option value="saas">a SaaS Business</option>
                        <option value="onlineproduct">an Online Store</option>
                        <option value="onlineservice">an Online Service</option>
                        <option value="physicalstore">a physical store</option>
                        <option value="physicalservice">a physical service</option>
                    </select>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <input type="text" name="firstname" placeholder="First Name" required="">
                </div>
                <div class="field">
                    <input type="text" name="lastname" placeholder="Last Name" required="">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <input type="email" name="email" placeholder="email@you.com" required="">
                </div>
                <div class="field">
                    <input type="tel" name="phone" placeholder="Phone Number" required="">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <input type="text" name="company" placeholder="My Company Name" required="">
                </div>
                <div class="field">
                    <select class="ui dropdown" name="industry">
                        <option value="">Industry</option>
                        <option value="Advertising">Advertising & Marketing/option</option>
                        <option value="Automotive">Automotive</option>
                        <option value="Finance">Finance</option>
                        <option value="Business">Business & Consultancy/option</option>
                        <option value="IT">IT</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Fashion">Fashion / Luxury Brand</option>
                        <option value="CPG">CPG</option>
                        <option value="Government">Government/ NGO </option>
                        <option value="Hospitality">Hospitality</option>
                        <option value="Media">Media / Publishing</option>
                        <option value="Telecom">Telecom</option>
                        <option value="Travel">Travel</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <select class="ui dropdown" name="companysize">
                        <option value="">Company size 1 - 5</option>
                        <option value="1-10">1 - 10</option>
                        <option value="10-20">10 - 20</option>
                        <option value="21-100">21 - 100</option>
                        <option value="101-1000">101 - 1000</option>
                        <option value="1000+">1000+</option>
                    </select>
                </div>
                <div class="field">
                    <input type="text" name="country" placeholder="Country" required="">
                </div>
            </div>
            <button class="ui green inverted button" name="requestdemo" type="submit">SUBMIT TO QUALIFY</button>
        </form>
    </div>
</div>
