<div class="ui vertical stripe segment">
    <div class="ui center aligned text container">
        <div class="ui huge header">We <span style="color:red;">Empower </span>your Bottom-Line</div>
        <p>
            Today, if you are an online store, or a SaaS vendor,
            <br>or looking for an edge in a hyper-competitive online market,
            <br>or simply want headache free online sales.
        </p>
        <p>
            You have come to the right place.
        </p>
    </div>
</div>
