<div id="ppc-keyword-tool-value-prob-link" class="ui vertical stripe segment">
    <div class="ui center aligned text container">
        <p>
            <span style="color:grey;">
<i>Why do we use Google Adwords? </i>
</span>
            <p>AdWords, is the most effective digital medium for lead generation, it is #1 for business, today. With 4 million businesses bidding on keywords, the bid prices are very expensive and competitive.
            </p>
            <p>We outsmart the competition and take advantage of the long-tail-search-keywords which were previously inaccessible, without artificial intelligence technology.</p>
            <p id="ppc-smb-offer-br1">
                <span style="color:grey;">
<i>Why are long-tail-search-keywords interesting? </i>
</span>
            </p>
            <p id="ppc-smb-offer-br">
                The vast majority of searches on search engines like Google and Amazon are in the long-tail-search-keywords, long-tail-search-keywords searches are full of buyer intent; ads that match the long-tail-search-keywords cost less and convert better; and the
                competition is lower. So, they cost less, convert better, and make up the vast majority of keyword queries on all search engines.

            </p>
            <h3 class="ui header">How does the <span style="color:#f70250;">artificial intelligence </span>do this?</h3>
            <div id="ppc-smb-offer-2" class="ui left aligned text container">
                <div id="ppc-value-tab-menu" class="ui three item labeled icon top attached tabular menu">
                    <div class="active item" data-tab="how"><i class="settings icon"></i>How does it work?</div>
                    <div class=" item" data-tab="why"><i class="help circle outline icon"></i> Why is everyone not doing this today?</div>
                    <div class=" item" data-tab="whatif"><i class="find icon"></i>What if was not that hard?</div>
                </div>
                <div class="ui bottom attached active tab very padded segment" data-tab="how">
                    <p id="ppc-smb-offer-br1">By knowing what your customers mean, when they enter a <span style="color:#f70250; ">keyword in any search engine</span>. Now, our <span style="color:#2185d0; "><a class="item" data-popup="little-genius-popup-text"><i class="child icon "></i>&nbsp; little-genius </a></span>,
                        allows us to bid on untapped, affordable, and qualified, long-tail-search-keywords at fraction of the cost of headwords.
                    </p>
                </div>

                <div class="ui bottom attached tab very padded segment" data-tab="why">

                    <p id="ppc-smb-offer-br1">
                        To discover and amass meaningful traffic on long-tail-search-keywords is humanly not possible due to the amount of work required to find and exploit a massive volume of long-tail-search-keywords. Long-tail-search-keywords research and discovery till today
                        has been onerous and inefficient.
                    </p>
                    <p>Discovering and organizing long-tail-search-keywords is almost impossibly hard and even if you got going, it gets harder at every step along the way.</p>

                    <p>Because it’s really difficult - If it were easy everybody would be doing it.</p>
                    <p><i class="frown orange  icon"></i>&nbsp;Start with Keyword Planner, only to realize it’s not much help. </p>
                    <p><i class="frown orange  icon"></i>&nbsp;Discover there are other tools; try them; but none of them build AdWords campaigns. </p>
                    <p><i class="frown orange  icon"></i>&nbsp;You need lots of long-tail-search-keywords (tens of thousands) - great CPC and Conversion, but low impressions. </p>
                    <p><i class="frown orange  icon"></i>&nbsp;Discovering long-tail-search-keywords is hard - you need lots of seed ideas. </p>
                    <p><i class="frown orange  icon"></i>&nbsp;Sifting through a massive inventory looking for the right meaning is really hard. </p>
                    <p><i class="frown orange  icon"></i>&nbsp;Filtering a massive list for buyer intent is really really hard. </p>
                    <p><i class="frown orange  icon"></i>&nbsp;Organizing long-tail-search-keywords into tightly themed ad groups is crazy-hard. </p>
                    <p><i class="frown orange  icon"></i>&nbsp;Finding negative keywords to protect your quality score is impossibly hard (can’t use broad match). </p>
                </div>
                <div class="ui bottom attached tab very padded segment" data-tab="whatif">

                    <p id="ppc-smb-offer-br1">
                        What if there was new technology that employed AI to discover the entire long-tail-search-keywords inventory, automatically clean out the noise, automatically organize it into small tight ad groups, and automatically discover and assign negative keywords
                        so you could use a broad match? How does it all work? </i>
                    </p>
                    <p>The great thing about the long-tail-search-keywords is, everybody wins:</p>
                    <p><i class="smile green icon"></i>&nbsp;Marketers win because they find even more qualified leads at affordable rates.</p>
                    <p><i class="smile green  icon"></i>&nbsp;Agencies win because these campaigns don’t build themselves, and now agencies have access to technology that creates real efficiencies for the first time.</p>
                    <p><i class="smile green  icon"></i>&nbsp;Google wins because now there will be AdWords ads on search results pages that previously had no ads. And, these ads will be precisely matched to expressed consumer intent.</p>
                    <p><i class="smile green  icon"></i>&nbsp;Consumers win because now they can find what they’ve already been telling Google they’re looking for.</p>

                </div>
            </div>
    </div>
</div>
