<div class="ui vertical stripe segment">
    <div class="ui center aligned text container">
        <h3 class="ui header">Supercharge'ing <span style="color:#f70250;">Traffic and Conversion</span></h3>
        <p> We begin with Supercharge pay-per-click. We do it with artificial intelligence to know what your customers mean when they enter a <span style="color:#f70250;">keyword in any search engine, </span>looking for products or answers.
        </p>
        <p>Today's long tail keyword research tools are primative at best, they lack the contextual understanding. We solve this really really hard problem to unlock a massive invetory of keywords, which are embeded with the highest customer purchase intent
            and hey they are cheaper than headwords.
        </p>
        <p>
            Today's long tail keyword research tools are primitive at best, they lack the contextual understanding. We solve this really really hard problem to unlock a massive inventory of keywords, which are embedded with the highest-customer-purchase-intent
        </p>
    </div>
</div>
