 {{> header-index }}

<div class="ui text container">
    <div id="big-logo-main-page" class="ui small image">
        <img src="/img/ubersales-white_icon-logo.png" alt="">
    </div>
    <div id="head-tag-line" class="ui huge inverted header">
        Conquer your Online Sales!
    </div>
    <p>You gain all the benefits of advanced marketing automation, effortlessly.
    </p>
    <p class="ui inverted">
    </p>
</div>
</div>

{{> header-2 }} {{{ contents }}} {{> demo-cta-top }} {{> target-audience-cta }} {{> demo-cta }} {{> footer }}


</body>

</html>
