 {{> header }}

<div class="ui text container">
    <!--<div id="big-logo-main-page" class="ui small image">
         <img src="/img/Plumlytics-White-Logo.svg" alt="">
     </div>-->
    <div id="head-tag-line" class="ui huge inverted header">
        <i class="send large icon"></i>Your Request is submitted successfully
    </div>
    <br>
    <br>
    <p>We will contact you within the next 24 hours
        <br>to setup a time to learn about your business.</p>
</div>
</div>

{{> header-2 }} {{{ contents }}} {{> footer }}

<!-- Google Code for DemoRequest Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 967913490;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "SQSaCNPLj2wQkuDEzQM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/967913490/?label=SQSaCNPLj2wQkuDEzQM&amp;guid=ON&amp;script=0" />
    </div>
</noscript>

</body>

</html>
